@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/PTSans-Regular.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/PTSans-Bold.woff") format("woff");
  font-display: swap;
}

body {
  min-height: 100%;
  margin: 0;
  color:#333333;
  background-color: #E5E5E5;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
}

.body-container {
  width: 1200px;
  margin: 0 auto;
  background-color: white;

}

.page-header {
  background-color: #FFFFFF;
  color: #000000;
}
.navigation {
  margin: 0  auto;
  display: flex;
  align-items: center;
  width: 1060px;
  height: 70px;

}

.navigation-list {
  display: flex;
  width: 345px;
  justify-content: space-around;
}

.navigation-link {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  color: #000000;
  background-color: #FFFFFF;
  text-decoration: none;
}


.img-container {
  /* outline: 5px solid rgba(255, 99, 78, 0.5);
  outline-offset: -5px; */
  margin-top: -7px;
  width:  1200px;
  height: 485px;
  background-image: url("../images/index-background.jpg");
  background-size: auto;
  background-repeat: no-repeat;
}
.img-container-catalog {
  /* outline: 5px solid rgba(255, 99, 78, 0.5);
  outline-offset: -5px; */
  margin-top: -7px;
  width:  1200px;
  height: 408px;
  background-image: url(../images/catalog-background\ 1.jpg);
  background-size: auto;
  background-repeat: no-repeat;


}



.index-img {

  margin-top: 51px;
  margin-left: 371px;
 }

 .index-div {
  margin-top: 21px;
 }
 .advantages-decsription {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
  margin-top: 63px;
  margin-left: 240px;
  margin-bottom: 0;
  width: 720px;
  height: 72px;

 }

 .advantages-text {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 36px;
  text-align: center;
  margin-top: 31px;
  margin-left: 240px;
  width: 720px;
  height: 36px;
 }

 .container-h2h3 {
  width: 1200px;
  height: 282px;


 }

 .order-button {
  margin-left: auto;

 }


 .fav-container {
  display: flex;
  align-items: center;
  width: 84px;
  height: 66px;
  margin-left: 299px;

 }

 .button {
  background-color: #756257;
  color: #FFFFFF;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  border-radius: 4px;
 }

 .button-container {
  width: 575px;
  height: 60px;

  border: 2px solid black;
 }


 .card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  height: 384px;


 }
.card-image {
  width: 800px;
  height: 384px;

}

.card-title-place {
  margin-top: 97px;
  margin-bottom: 0;
  width: 400px;
  height: 56px;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
}

.black {
  color: #333333;
}

.white {
  color: rgb(255, 255, 255);
}

.card-number {
  width: 250px;
  height: 21px;
  margin-top: 30px;
  margin-bottom: 0px;

  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
}


.card-logo {
  margin-top: 89px;
}

.card-title-service {
  width: 250px;
  height: 28px;
  margin-top: 23px;
  margin-bottom: 0px;
  text-align: center;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.card-title-service-description {
  width: 250px;
  height: 73px;
  margin-top: 20px;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
}

.card-title-place-description {
  width: 250px;
  height: 73px;
  margin-top: 30px;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
}


.flex-container {
  display: flex;
}

.background-blue {

  background-color:#83B3D3;
}

.background-gray {

  background-color: rgba(131, 179, 211, 0.12);
}

.backgroun-green {

  background-color: rgba(131, 179, 211, 0.2);
}

.backgroun-white {

  background-color: #ffffff;
}


.book-hotel {
  width: 1200px;
  height: 417px;

}

.book-hotel-intrested {

  width: 700px;
  height: 36px;
  margin: 0 auto;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;


}

.book-hotel-order {
  width: 700px;
  height: 52px;
  margin: 0 auto;
  margin-top: 29px;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color:#333333;


}

.footer-subscribe {
  width: 1200px;
  height: 411px;
  background-image: url(../images/background.jpg);
  background-size: auto;
  background-repeat: no-repeat;
}

.subscribe-title {
  width: 720px;
  height: 32px;
  margin: 0 auto;


  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
  color: #FFFFFF;

}


.subscribe-about {
  width: 720px;
  height: 52px;
  margin: 0 auto;
  margin-top: 29px;


  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #FFFFFF;



}


.footer-links {
  width: 1200px;
  height: 120px;
  display: flex;
  align-items: center;



}

.footer-links-list {
  display: flex;
  width: 107px;
  height: 18px;
  margin-left: 72px;
  border: 2px solid black;
}

.footer-number {
  width: 720px;
  height: 40px;
  margin-left: 61px;

  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  color: #000000;
  text-decoration: none;

  border: 2px solid black;

}

.footer-logo {
  margin-left: 53px;

  border: 2px solid black;

}