
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/PTSans-Regular.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/PTSans-Bold.woff") format("woff");
  font-display: swap;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

h1 {
  margin: 0;
}

h2 {
  margin: 0;
}
h3 {
  margin: 0;
}

p {
  margin: 0;
}

ul, fieldset, legend, button, input {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

footer {
  margin-top: auto;
}


body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  width: 1200px;
  margin: 0 auto;
  background-color: white;
  color: #333333;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
}

.main-index {
  flex-grow: 1;
}
.breadcrums {
  position: relative;
  display: flex;
  margin-bottom: 45px;
  margin-left: -5px;
  list-style-type: none;
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.bredcrums-item {
  margin-right: 26px;
}

.bredcrums-item:first-child::after {
  content: "";
  position: absolute;
  width: 5px;
  height: 8px;
  top: 50%;
  margin-top: -4px;
  left: 38px;
  background-image: url(../images/catalog/breadcrums.svg);
  background-position: center;
  background-repeat: no-repeat;
}

.bredcrums-item:last-child {
  display: flex;
  align-items: center;
  justify-content: center;
}

.breadcrums-link {
  display: block;
  color: inherit;
  text-decoration: none;
}

.breadcrums-link:last-child {
  padding: 0 8px;
}


.breadcrums-main {
  position: relative;
  width: 27px;
  height: 28px;
}

.breadcrums-logo {
  position: absolute;
  fill: white;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;

}

.breadcrums-link:hover {
  opacity: 0.6;
}

.breadcrums-link:focus-visible {
  border: 3px solid #83B3D3;
  border-radius: 4px;
  padding: 0 5px;
  outline: 0;
}

.breadcrums-link:active {
  opacity: 0.3;
}


.invisible-element {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.catalog-filter {
  display: flex;

  width: 1060px;
  margin: 0 auto;

}

.catalog-filter-group {
  border: none;
}
.catalog-filter-group:first-child {
  min-width: 217px;
}
.catalog-filter-group:nth-child(2) {
  min-width: 312px;
}


.catalog-filter-list {
  list-style-type: none;
}

.catalog-filter-item:not(:last-child) {
  margin-bottom: 13px;
}

.catalog-filter-title {
  margin-bottom: 30px;
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.control {
  display: block;
  position: relative;
}

.catalog-filter-group:first-child .control-mark {
  position: absolute;
  height: 20px;
  width: 20px;
  border-radius: 4px;
  background-color: white;
  top: 1px;
  cursor: pointer;
}



.control-input[type="checkbox"]:checked + .control-mark::before {
  content: "";
  position: absolute;
  top: 5.5px;
  left: 4px;
  width: 12.2px;
  height: 9.9px;
  background-image: url(../images/catalog/tick.svg);
  background-position: center;
  background-repeat: no-repeat;
}

.catalog-filter-group:first-child .control-mark:hover {
  background-color: rgba(255, 255, 255, 0.60);
}

.control-input[type="checkbox"]:checked + .control-mark:hover::before {
  background-image: url(../images/catalog/tick0.6.svg);
}

.catalog-filter-group:first-child .control-input:focus-visible + .control-mark {
  outline: 3px solid #83B3D3;
  opacity: 0.6;
}
.catalog-filter-group:first-child .control-mark:active {
  background-color: rgba(255, 255, 255, 0.30);
}
.control-input[type="checkbox"]:checked + .control-mark:active::before {
  background-image: url(../images/catalog/tick0.3.svg);
}



.catalog-filter-group:nth-child(2) .control-mark {
  position: absolute;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: white;
  top: 1px;
  cursor: pointer;
}

.catalog-filter-group:nth-child(2) .control-mark:hover {
  background-color: rgba(255, 255, 255, 0.60);
}

.catalog-filter-group:nth-child(2) .control-input[type="radio"]:checked:focus-visible + .control-mark {
  outline: 3px solid #83B3D3;
}



.catalog-filter-group:nth-child(3) {
  width: 287px;
}

.control-input[type="radio"]:checked + .control-mark::before {
  position: absolute;
  content: "";
  width: 10px;
  height: 10px;
  top: 5px;
  left: 5.33px;
  border-radius: 50%;
  background-color: #3F5E72;
}


.control-label {
  padding-left: 39px;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.range-scale {
  position: relative;
  height: 4px;
  background-color: rgb(136, 130, 131);

}

.range-bar {
  position: absolute;
  height: 4px;
  background-color: white;
}

.range-toogle {
  position: absolute;
  width: 20px;
  height: 20px;
  border: none;
  top: -8px;
  border-radius: 5px;
  cursor: pointer;
}

.toogle-min {
  left: 0;
}

.toogle-max {
  right: 0;
}

.range-wrapper-input {
  /* border: 2px solid white;
  border-radius: 5px; */
  position: relative;
  display: flex;
  margin-bottom: 39px;
}
.label-input {
  position: relative;
}

.ot, .do {
  position: absolute;
  z-index: 2;
  color: rgb(136, 130, 131);
  text-align: right;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.label-input:first-child .ot {
  right: 15px;
  top: 14px;

}

.label-input:last-child .do {
  right: 14px;
  top: 14px;
}


.catalog-filter-input::-webkit-outer-spin-button,
.catalog-filter-input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.catalog-filter-input {

  padding: 14px 0 11px 19px;
  color: white;
  border: 2px solid white;
  background-color: transparent;
  width: 144px;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.label-input:first-child .catalog-filter-input {
  margin-right: -2px;
  border-radius: 4px 0 0 4px;
}
.label-input:last-child .catalog-filter-input {
  border-radius: 0 4px 4px 0;

}

.catalog-filter-input:hover {
  position: relative;
  z-index: 1;
  border-color: rgb(180, 187, 191);
}


.catalog-filter-input:focus-visible {
  border: 2px solid rgb(255, 255, 255);
  outline: 3px solid #81B3D2;
  box-shadow: inset 0px 0px 0px 3px #81B3D2;
  position: relative;
  z-index: 2;
}
.catalog-filter-input:active {
  background-color: var(--special-warm-light, #756257);
}



.range-toogle:hover {
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
}

.range-toogle:focus-visible {
  outline: 3px solid var(--special-cold-light, #83B3D3);
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
}

.range-toogle:active {
  outline: 2px solid var(--special-cold-light, #83B3D3);
  box-shadow: 0px 7px 15px 0px rgba(0, 0, 0, 0.40);
}



.form-buttons {
  height: 170px;
  margin-left: auto;
  display: flex;
  flex-direction: column;
}

.button-form {
  display: block;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 160px;
  height: 48px;
  color: #FFF;
  font-family: "PT Sans", sans-serif
}

.button-apply {
  margin-top: 56px;
  background-color: #83B3D3;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}

.button-reset {
  margin-top: auto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  background-color: transparent;
}

.button-apply:hover {
  background-color: #68A2CA;
}

.button-apply:focus-visible {
  background-color: #68A2CA;
  outline: 3px solid white;
}
.button-apply:active {
  background-color: #68A2CA;
  color: rgba(255, 255, 255, 0.3);
}

.button-reset:hover {
  opacity: 0.6;
}

.button-reset:focus-visible {
  outline: none;
  border: 3px solid var(--special-cold-light, #83B3D3);
}

.button-reset:active {
  opacity: 0.3;
}




.page-header {
  background-color: #ffffff;
  color: #000000;
  padding: 0 70px;
  margin-bottom: -2px;
}

.navigation {
  position: relative;
  z-index: 2;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  width: 1060px;
}

.page-logo {
  display: block;
  height: 70px;
}

.navigation-list {
  margin-left: 50px;
  width: 500px;
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}



.navigation-item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navigation-item:not(:last-child) {
  margin-right: 2px;
}

.navigation-link {
  display: block;
  padding: 20px 17px;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  color: #000000;
  background-color: #ffffff;
  text-decoration: none;
}



.navigation-link-selected::before {
  position: absolute;
  content: "";
  height: 2px;
  width: auto;
  background-color: #756257;
  left: 17px;
  right: 17px;
  bottom: -1px;

}



.img-container {
  position: relative;
  /* padding-top: 51px; */
  align-items: center;
  /* display: flex; */
  flex-direction: column;
  justify-content: space-between;
  width: 1198px;
  height: 485px;
  background-image: url("../images/index-background.jpg");
  background-size: auto;
  background-repeat: no-repeat;
}
.img-container svg:first-child {
  top: 51px;
  left: 371px;
  position: absolute;
}

.img-container svg:last-child {
  position: absolute;
  bottom: -7px;
}


.index-img {
  display: block;
}

.index-div {
  display: block;

}

.img-container-catalog {
  display: flex;
  flex-direction: column;
  align-items: start;
  color: #ffffff;
  padding: 35px 70px 0 70px;
  width: 1200px;
  height: 408px;
  background-image: url(../images/catalog-background1.jpg);
  background-size: auto;
  background-repeat: no-repeat;
}

.results-sorting {
  padding: 0 70px;
  display: flex;
  align-items: center;
  width: 1200px;
  height: 145px;

}

.results-sorting-title {
  margin-right: 192px;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 39px;
  font-family: PT Sans;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}

.buttons-container {
  display: flex;
  justify-content: space-between;
  width: 160px;
  margin-left: auto;
}

.button-mode {
  height: 48px;
  width: 48px;
  border: 2px solid #E6E6E6;
  border-radius: 4px;
  background-color: white;
  cursor: pointer;
}

.button-view-cards {
  background-image: url(../images/catalog/mode-tile\ 1.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.button-view-list {
  background-image: url(../images/catalog/mode-slideshow\ 1.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.button-view-slideshow {
  background-image: url(../images/catalog/mode-list\ 1.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.cards-active {
  border-color: black;
}

.sorting-type {
  display: flex;
  width: 287px;
}

.button-mode:not(.cards-active):hover, .button-mode:not(.cards-active):focus-visible {
  outline: none;
  border: 2px solid #83B3D3;
}

.button-mode:active {
  outline: none;
  border: 2px solid #000000;
}


.results-price-sort {
  padding: 12px 19px 12px 19px;
  flex-grow: 1;
  border-radius: 4px;
  border: 2px solid #E6E6E6;
  appearance: none;
  background-image: url(../images/catalog/dropdown\ 1.svg);
  background-repeat: no-repeat;
  background-position: top 21px right 21px;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.results-price-sort:hover, .results-price-sort:focus-visible, .hotel-show-list:hover, .hotel-show-list:focus-visible {
  outline: none;
  border: 2px solid var(--special-cold-light, #83B3D3);
}

.results-price-sort:active, .hotel-show-list:active {
  color: #E6E6E6;
  background-image: url(../images/catalog/dropdown_3.svg);
}


.results-show {
  margin: 0 auto;
  width: 1056px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.hotel-card:nth-child(n+4) {
  margin-top: 10px;


}

.hotel-card {
  display: flex;
  flex-direction: column;
  width: 340px;
  height: 438px;
  padding: 20px;
}

.hotel-card-link {
  display: block;
  height: 206px;
}


.hotel-card-image:hover {
  opacity: 0.6;
}

.hotel-card-image:focus-visible {

}

.hotel-card-link:focus-visible {
  outline: 3px solid var(--special-cold-light, #83B3D3);
  outline-offset: 0;
}

.inner-header-title {
  width: 528px;
  height: 68px;
  color: #ffffff;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 60px;
  line-height: 77.64px;
  font-style: normal;
  line-height: normal;
  margin-bottom: 5px;

}

.container-for-price {
  display: flex;
  align-items: baseline;
  margin-top: 16px;
}

.hotel-card-title {
  margin-top: 16px;
  margin-bottom: 0px;
  height: 31px;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 31px;
}
.hotel-card-price {
  margin-left: auto;
  width: 143px;
  line-height: 23px;
  font-weight: 400;
}
.hotel-card-type {
  width: 133px;
  line-height: 23px;
  font-weight: 400;
}

.order-container {
  display: flex;
  margin-top: 16px;
  height: 37px;
  justify-content: space-between;

}
.raiting-container {
  margin-top: 16px;
  display: flex;

}
.hotel-stars {
  display: flex;
  align-items: center;
  justify-content: baseline;
  width: auto;

}

.star-container {
  margin-right: 5px;
}
.hotel-card-rating {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 160px;
  height: 37px;
  margin-left: auto;
  text-align: center;



  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}



.button {
  display: block;
  border-radius: 4px;
  padding: 8px 15px;
  border: none;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  cursor: pointer;
}



.btn-card {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-card-favorit {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #000000;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
}

.btn-card-style-favorit {
  background-color: #83b3d3;
  width: 144px;
}

.btn-card-style-details {
  background-color: #756257;
  width: 133px;
}

.btn-card-style-green {
  background-color: var(--special-neutral-light, #7DB54F);
}

.container-description {
  padding-top: 63px;
  width: 1200px;
  height: 282px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.advantages-decsription {
  margin-bottom: 31px;
  width: 720px;
  height: 72px;
  text-align: center;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.advantages-text {
  text-align: center;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 36px;
  width: 720px;
  height: 36px;
}



.order-title {
  display: flex;
  justify-content: center;
}

.fav-container {
  margin-left: auto;
  display: flex;
  flex-wrap: wrap;
  max-width: 170px;
}



.button-search {
  display: flex;
  justify-content: center;
  background-color: #756257;
  padding: 15px 15px;
  min-width: 575px;
  border-radius: 10px;
}

.button-order {
  display: flex;
  align-self: center;
  justify-content: center;
  min-width: 160px;
  margin-left: 20px;
  background-color: #756257;

}

.btn {
  position: relative;
  padding: 0;
  border: 0;
  min-height: 68px;
  min-width: 42px;
  background-color: #ffffff;
  cursor: pointer;
}

.button-container {
  width: 575px;
  height: 60px;

  border: 2px solid black;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  height: 384px;
}
.card-image {
  width: 800px;
  height: 384px;
}

.card-title-place {
  margin-top: 97px;
  width: 400px;
  height: 56px;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
}

.black {
  color: #333333;
}

.white {
  color: rgb(255, 255, 255);
}

.card-number {
  margin-top: 30px;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
}

.card-logo {
  margin-top: 89px;
}

.card-title-service {
  width: 250px;
  height: 28px;
  margin-top: 23px;
  margin-bottom: 0px;
  text-align: center;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.card-title-service-description {
  width: 250px;
  height: 73px;
  margin-top: 20px;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
}

.card-title-place-description {
  width: 250px;
  height: 73px;
  margin-top: 30px;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
}

.flex-container-non {
  display: flex;
}
.grid {
  display: grid;
  grid-template-areas: "city image-1 image-1"
                       "house food souvenir"
                       "image-2 image-2 brige"
                       "squar road tourism";
}

.city {
  grid-area: city;
}
.image-1 {
  grid-area: image-1;
}

.house {
  grid-area: house;
}

.food {
  grid-area: food;
}
.souvenir {
  grid-area: souvenir;
}
.image-2 {
  grid-area: image-2;
}

.brige {
  grid-area: brige;
}
.squar {
  grid-area: squar;
}
.road {
  grid-area: road;
}
.tourism {
  grid-area: tourism;
}




.background-blue {
  background-color: #83b3d3;
}

.background-gray {
  background-color: rgba(131, 179, 211, 0.12);
}

.backgroun-green {
  background-color: rgba(131, 179, 211, 0.2);
}

.backgroun-white {
  background-color: #ffffff;
}

.book-hotel {
  padding-top: 91px;
  width: 1200px;
  height: 417px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.book-hotel-intrested {
  margin-bottom: 29px;
  display: flex;
  justify-content: center;
  width: 720px;
  height: 36px;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.book-hotel-order {
  width: 720px;
  height: 52px;
  margin-bottom: 56px;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
}

.subscribe {
  padding-top: 94px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1200px;
  height: 411px;
  background-image: url(../images/background.jpg);
  background-size: auto;
  background-repeat: no-repeat;
  color: #ffffff;
}

.footer-subscribe-inner {
  width: 1200px;
  height: 411px;
  background-color: #ffffff;
  color: #333333;
}

.subscribe-title {

  width: 720px;
  height: 32px;
  margin-bottom: 29px;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
}

.subscribe-about {
  margin-bottom: 46px;
  width: 720px;
  height: 52px;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.subscribe-form {
  display: flex;
  height: 60px;


  /* display: grid;
  grid-template-columns: 3fr 1fr;
  width: 800px;
  min-height: 60px; */
}

.subscribe-control {
  width: 600px;
  border: 0;
  padding: 0 19px 0 22px;
  border-radius: 10px 0 0 10px;

  color: #000;
  background-color: #F2F2F2;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 144.444% */
  /*
  outline: none;
  border-radius: 10px 0px 0px 10px;
  border: 0;
  background: var(--basic-light, #F2F2F2);
  font-size: 18px;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; */
}

.button-subscribe {
  border: 0;
  width: 200px;
  cursor: pointer;
  border-radius: 0px 10px 10px 0px;
  color: #FFF;
  background-color: #83B3D3;
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px; /* 130% */
  text-transform: uppercase;
  /*
  cursor: pointer;
  border-radius: 0px 10px 10px 0px;
  background: var(--special-cold-light, #83B3D3);
  color: #F2F2F2;
  text-align: center;
  font-size: 20px;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase; */
}

.subscribe-inner {
  background: white;
  color: #000000;
}

.footer-links {
  padding: 0 72px 0 56px;
  width: 1200px;
  height: 120px;
  display: grid;
  grid-template-columns: 240px 1fr 240px;

}

.footer-links-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  list-style-type: none;
}

.footer-number {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;

}

.footer-number p {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70px;
  width: 361px;
  color: #000000;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  text-align: center;


}

.footer-number p:hover, .footer-number:focus-visible p {
  color: #756257;
}

.footer-number:focus-visible p {
  border-radius: 10px;
  border: 3px solid var(--special-cold-light, #83B3D3);
}

.footer-number:focus-visible {
  outline: 0;
}

.footer-number:active p {
  opacity: 0.3;
}

.footer-links-item:not(:last-child) {
  margin-right: 3px;
}

.footer-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 60px;
  align-self: center;
  margin-left: auto;
  fill: black;
}
.academy-logo{
  fill: black;
}

.footer-logo:hover .academy-logo, .footer-logo:focus-visible .academy-logo  {
  fill: #756257;
}
.footer-logo:focus-visible {
  border-radius: 10px;
  outline: 3px solid #83B3D3;
}

.footer-logo:active .academy-logo {
  opacity: 0.3;
}


.button-footer-link {
  position: relative;
  height: 50px;
  width: 50px;
  display: block;
}

.social-icon {
  fill: #68A2CA;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}


.button-footer-link{
  transition: transform 0.3s linear;
 }
 .button-footer-link:hover {
  transform: scale(1.5);
 }

 .button-footer-link:focus-visible {
  outline: 0;
  border: 3px solid #83B3D3;
  border-radius: 8px;
 }

 .button-footer-link:active {
  opacity: 0.3;
 }




.hotel-card-show-more {
  margin-bottom: 30px;
  display: flex;
  height: 120px;
  align-items: center;
  justify-content: center;
  border-top: 1px solid #E6E6E6;
  border-bottom: 2px solid #E6E6E6;
}
.button-show-more {
  border: 0;
  border-radius: 10px;
  background: var(--special-cold-light, #83B3D3);
  cursor: pointer;
  color: #F2F2F2;
  width: 620px;
  height: 60px;
  text-align: center;
  font-size: 20px;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
}

.pagination-container {
  margin: 0 auto;
  width: 1056px;
  height: 55px;
  display: flex;
}

.pagination {
  display: grid;
  gap: 8px;
  grid-template-columns: repeat(8, 55px);
}

.pagination li {
  list-style-type: none;
}

.pagination-item {
  cursor: pointer;
  border: 0;
  border-radius: 4px;
  min-height: 55px;
  min-width: 55px;
  background: var(--special-cold-light, #83B3D3);
  color: #F2F2F2;
  font-size: 20px;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
}

.current {
  color: var(--basic-black, #000);
  background-color: var(--basic-light, #F2F2F2);
}

.current:focus-visible {
  outline: 0;
}


.pagination-hotel-quantity {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.show-hotels {
  margin-left: auto;
  width: 385px;
  display: flex;
  align-items: center;

}

.pagination-show-type {
  display: flex;
  margin-left: auto;
  width: 160px;
  height: 48px;
}

.hotel-show-list {
  flex-grow: 1;
  padding: 12px 19px 12px 19px;
  flex-grow: 1;
  border-radius: 4px;
  border: 2px solid #E6E6E6;
  appearance: none;
  background-image: url(../images/catalog/dropdown\ 1.svg);
  background-repeat: no-repeat;
  background-position: top 21px right 21px;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  cursor: pointer;
}

.nav-icon {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  fill: black;
}

.navigation-link:hover {
  color: #756257;
}

.navigation-link:focus-visible {
  outline: 2px solid #83B3D3;
  outline-offset: -2px;
  border-radius: 10px;

}
.page-logo:focus-visible {
  outline: none;
}

.navigation-link:active {
  color: rgba(117, 98, 87, 0.30)
}

.btn:hover svg {
  fill: #756257;
}
.btn:focus-visible {
  outline: 2px solid #83B3D3;
  outline-offset: -2px;
  border-radius: 8px;
}

.btn:active svg {
  opacity: 0.3;
}


.button-order:hover, .btn-card-style-details:hover, .button-search:hover {
  background-color: #615048;
}

.button-order:focus-visible, .btn-card-style-details:focus-visible, .button-search:focus-visible {
  background-color: #615048;
  outline: 3px solid #83B3D3;
  outline-offset: 0;
}

.button-order:active, .btn-card-style-details:active, .button-search:active {
  color: rgba(255, 255, 255, 0.30);
  background-color: #615048;
}

.btn-card-style-favorit:hover, .button-show-more:hover, .button-show-more:focus-visible, .btn-card-style-favorit:focus-visible, .pagination-item:not(.current):hover, .pagination-item:not(.current):focus-visible {
  background-color: var(--special-cold-dark, #68A2CA);
}

.btn-card-style-favorit:focus-visible, .button-show-more:focus-visible, .pagination-item:not(.current):focus-visible {
  outline: 3px solid var(--special-warm-light, #756257);
  outline-offset: 0;
}

.btn-card-style-favorit:active, .button-show-more:active, .pagination-item:not(.current):active, .pagination-item:not(.current):active {
  color: rgba(255, 255, 255, 0.30);
  background-color: var(--special-cold-dark, #68A2CA);
}

.btn-card-style-green:hover, .btn-card-style-green:focus-visible, .btn-card-style-green:active {
  background-color: var(--special-neutral-dark, #6C9E42);
}

.favorit-link {
  position: relative;
}

.favorit {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 15px;
  right: -2px;
  width: 19px;
  height: 19px;
  border-radius: 50%;
  background-color: #7DB550;
  color: white;
  font-family: "PT Sans", sans-serif;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -1px;
}

.button-subscribe:hover, .button-subscribe:focus-visible {
  background-color: #68A2CA;
}

.button-subscribe:focus-visible {
  outline: 0;
  border: 3px solid #756257;
}

.button-subscribe:active {
  color: rgba(255, 255, 255, 0.3)
}




.subscribe-control:hover, .subscribe-control:focus-visible {
  background-color: #E6E6E6;
}
.subscribe-control:focus-visible {
  outline: 0;
  border: 3px solid #83B3D3;
}


.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(242, 242, 242, 0.80);
  z-index: 6;
}

.modal-window {
  position: relative;
  padding: 62px 70px 70px 70px;
  width: 715px;
  height: 561px;
  background-color: white;
  margin: 200px auto;
  border-radius: 30px;

  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
}

.modal-date-inout {
  height: 50px;
  border: none;
  display: flex;
  margin-bottom: 40px;
}

.modal-title {
  height: 67px;
  margin-bottom: 32px;
  text-transform: uppercase;
}

.modal-date-inout input {
  flex-grow: 1;
  padding: 0 19px;
  border: none;
  background-color: var(--basic-light, #F2F2F2);
  border-radius: 4px;
  font: inherit;
}

.date{
  display: flex;

  align-items: center;
  width: 155px;
}

.close {
  position: absolute;
  width: 53px;
  height: 53px;
  border-radius: 50%;
  background-color: var(--basic-light, #F2F2F2);
  top: 54px;
  right: 70px;
  cursor: pointer;
  border: none;
}

.svg-close {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
}

.modal-quantity-family-members {
  display: flex;

}

.modal-quantity-parent {
  width: 288px;
  display: flex;
  border: 0;
}

.quantity-men {
  width: 133px;
  border-radius: 4px;
  border: 0;
  background-color: var(--basic-light, #F2F2F2);
}

.modal-quantity-parent span {
  width: 155px;
}

.modal-quantity-children {
  display: flex;
  flex-grow: 1;
  align-items: center;
  border: 0;
}

.modal-quantity-children span {
  margin-left: auto;
  width: 55px;
}

.children-info {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #83B3D3;
  margin-right: 18px;
}

.quantity-men {
  height: 50px;
}