
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/PTSans-Regular.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/PTSans-Bold.woff") format("woff");
  font-display: swap;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

h1 {
  margin: 0;
}

h2 {
  margin: 0;
}
h3 {
  margin: 0;
}

p {
  margin: 0;
}

ul, fieldset {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}


body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  width: 1200px;
  margin: 0 auto;
  background-color: white;
  color: #333333;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
}

.main-index {
  flex-grow: 1;
}
.breadcrums {
  position: relative;
  display: flex;
  margin-bottom: 45px;
  list-style-type: none;
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.bredcrums-item {
  margin-right: 26px;
}

.bredcrums-item:first-child::after {
  content: "";
  position: absolute;
  width: 5px;
  height: 8px;
  top: 50%;
  margin-top: -4px;
  left: 23px;
  background-image: url(../images/catalog/breadcrums.svg);
  background-position: center;
  background-repeat: no-repeat;


}

.breadcrums-link {

  text-decoration: none;
}

.hidden-element {
  color: #ffffff;
}


.invisible-element {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.catalog-filter {
  display: flex;
  width: 1060px;
  margin: 0 auto;

}

.catalog-filter-group {
  border: none;
}

.catalog-filter-list {
  list-style-type: none;
}

.house-filter {

}

.page-header {
  background-color: #ffffff;
  color: #000000;
  padding: 0 70px;
  margin-bottom: -2px;
}
.main-logo {
  position: relative;
  z-index: 1;

}
.navigation {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  width: 1060px;
}

.page-logo {
  display: block;
  height: 70px;
}

.navigation-list {
  margin-left: 50px;
  width: 500px;
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}

.navigation-item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.navigation-link {
  display: block;
  padding: 20px 17px;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  color: #000000;
  background-color: #ffffff;
  text-decoration: none;

}

.navigation-link-selected::before{
  position: absolute;
  content: "";
  height: 2px;
  width: auto;
  background-color: #756257;
  left: 17px;
  right: 17px;
  bottom: -3px;

}



.img-container {
  padding-top: 51px;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 1198px;
  height: 485px;
  background-image: url("../images/index-background.jpg");
  background-size: auto;
  background-repeat: no-repeat;
}

.index-img {
  display: block;
}

.index-div {
  display: block;

}

.img-container-catalog {
  display: flex;
  flex-direction: column;
  align-items: start;
  color: #ffffff;
  padding: 35px 70px 0 70px;
  width: 1200px;
  height: 408px;
  background-image: url(../images/catalog-background1.jpg);
  background-size: auto;
  background-repeat: no-repeat;
}

.results-sorting {
  display: flex;
  align-items: center;
  width: 1200px;
  height: 145px;
  margin: 0 auto;
  /* outline: 2px solid rgb(0, 0, 0);
  outline-offset: -2px; */
}

.results-sorting-title {
  width: 337px;
  height: 39px;
  margin-left: 71px;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 39px;
  /* outline: 2px solid rgb(0, 0, 0);
  outline-offset: -2px; */
}

.results-show {
  margin: 0 auto;
  width: 1056px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.hotel-card:nth-child(n+4) {
  margin-top: 10px;


}

.hotel-card {
  display: flex;
  flex-direction: column;
  width: 340px;
  height: 438px;
  padding: 20px;
}

/* .button-view-slideshow {

} */



.inner-header-title {
  width: 528px;
  height: 68px;
  color: #ffffff;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 60px;
  line-height: 77.64px;
  font-style: normal;
  line-height: normal;
  margin-bottom: 5px;

}

.container-for-price {
  display: flex;
  align-items: baseline;
  margin-top: 16px;
}

.hotel-card-title {
  margin-top: 16px;
  margin-bottom: 0px;
  height: 31px;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 31px;

  /* outline: 2px solid rgb(0, 0, 0);
  outline-offset: -2px; */
}
.hotel-card-price {
  margin-left: auto;
  width: 143px;

  line-height: 23px;
  font-weight: 400;

  /* outline: 2px solid rgb(0, 0, 0);
  outline-offset: -2px; */
}
.hotel-card-type {
  width: 133px;
  line-height: 23px;
  font-weight: 400;

  /* outline: 2px solid rgb(0, 0, 0);
  outline-offset: -2px; */
}

.order-container {
  display: flex;
  margin-top: 16px;
  height: 37px;
  justify-content: space-between;
  /* outline: 2px solid rgb(0, 0, 0);
  outline-offset: -2px; */
}
.raiting-container {
  margin-top: 16px;
  display: flex;
  /* outline: 2px solid rgb(0, 0, 0);
  outline-offset: -2px; */
}
.hotel-stars {
  display: flex;
  align-items: center;
  justify-content: baseline;
  width: auto;
  /* outline: 2px solid rgb(0, 0, 0);
  outline-offset: -2px; */
}

.star-container {
  margin-right: 5px;
}
.hotel-card-rating {
  display: flex;
  justify-content: center;
  align-items: center;
  /* outline: 2px solid rgb(0, 0, 0);
  outline-offset: -2px; */
  width: 160px;
  height: 37px;
  margin-left: auto;
  text-align: center;



  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.btn-card-style-favorit {
  background-color: #83b3d3;
  width: 144px;
}

.btn-card-style-details {
  background-color: #756257;
  width: 133px;


}


.btn-card {
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;

  /* outline: 2px solid rgb(0, 0, 0);
  outline-offset: -2px; */

  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
}

.btn-card-favorit {

  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #000000;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;


  /* outline: 2px solid rgb(0, 0, 0);
  outline-offset: -2px; */
}
.container-description {
  padding-top: 63px;
  width: 1200px;
  height: 282px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.advantages-decsription {
  margin-bottom: 31px;
  width: 720px;
  height: 72px;
  text-align: center;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.advantages-text {
  text-align: center;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 36px;
  width: 720px;
  height: 36px;
}



.order-title {
  display: flex;
  justify-content: center;
}

.fav-container {
  margin-left: auto;
  display: flex;
  flex-wrap: wrap;
  max-width: 170px;
}

.button {
  display: block;
  background-color: #756257;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  border-radius: 4px;
}

.button-search {
  display: flex;
  justify-content: center;
  padding: 15px 0;
  min-width: 575px;
  border-radius: 10px;
}

.button-order {
  display: flex;
  align-self: center;
  justify-content: center;
  min-width: 160px;
  margin-left: 20px;
  padding: 8px 15px;
}

.btn {
  padding: 0;
  border: 0;
  max-height: 66px;
  max-width: 42px;
  background-color: #ffffff;

}

.button-container {
  width: 575px;
  height: 60px;

  border: 2px solid black;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  height: 384px;
}
.card-image {
  width: 800px;
  height: 384px;
}

.card-title-place {
  margin-top: 97px;
  width: 400px;
  height: 56px;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
}

.black {
  color: #333333;
}

.white {
  color: rgb(255, 255, 255);
}

.card-number {
  margin-top: 30px;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
}

.card-logo {
  margin-top: 89px;
}

.card-title-service {
  width: 250px;
  height: 28px;
  margin-top: 23px;
  margin-bottom: 0px;
  text-align: center;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.card-title-service-description {
  width: 250px;
  height: 73px;
  margin-top: 20px;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
}

.card-title-place-description {
  width: 250px;
  height: 73px;
  margin-top: 30px;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
}

.flex-container-non {
  display: flex;
}
.grid {
  display: grid;
  grid-template-areas: "city image-1 image-1"
                       "house food souvenir"
                       "image-2 image-2 brige"
                       "squar road tourism";
}

.city {
  grid-area: city;
}
.image-1 {
  grid-area: image-1;
}

.house {
  grid-area: house;
}

.food {
  grid-area: food;
}
.souvenir {
  grid-area: souvenir;
}
.image-2 {
  grid-area: image-2;
}

.brige {
  grid-area: brige;
}
.squar {
  grid-area: squar;
}
.road {
  grid-area: road;
}
.tourism {
  grid-area: tourism;
}




.background-blue {
  background-color: #83b3d3;
}

.background-gray {
  background-color: rgba(131, 179, 211, 0.12);
}

.backgroun-green {
  background-color: rgba(131, 179, 211, 0.2);
}

.backgroun-white {
  background-color: #ffffff;
}

.book-hotel {
  padding-top: 91px;
  width: 1200px;
  height: 417px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.book-hotel-intrested {
  margin-bottom: 29px;
  display: flex;
  justify-content: center;
  width: 720px;
  height: 36px;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.book-hotel-order {
  width: 720px;
  height: 52px;
  margin-bottom: 56px;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
}

.subscribe {
  padding-top: 94px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1200px;
  height: 411px;
  background-image: url(../images/background.jpg);
  background-size: auto;
  background-repeat: no-repeat;
  color: #ffffff;
}

.footer-subscribe-inner {
  width: 1200px;
  height: 411px;
  background-color: #ffffff;
  color: #333333;
}

.subscribe-title {

  width: 720px;
  height: 32px;
  margin-bottom: 29px;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
}

.subscribe-about {
  margin-bottom: 46px;
  width: 720px;
  height: 52px;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.subscribe-form {
  display: grid;
  grid-template-columns: 3fr 1fr;
  width: 800px;
  min-height: 60px;
}

.subscribe-control {

  padding: 0 19px 0 22px;
  outline: none;
  border-radius: 10px 0px 0px 10px;
  border: 0;
  background: var(--basic-light, #F2F2F2);
  font-size: 18px;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}

.button-subscribe {
  border: 0;

  border-radius: 0px 10px 10px 0px;
  background: var(--special-cold-light, #83B3D3);
  color: #F2F2F2;

  text-align: center;
  font-size: 20px;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
}

.subscribe-inner {
  background: white;
  color: #000000;
}

.footer-links {
  width: 1200px;
  height: 120px;
  display: grid;
  grid-template-columns: auto 1fr 240px;

}

.footer-links-list {
  padding: 0 26px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  list-style-type: none;
  /* outline: 2px solid rgb(211, 27, 20);
  outline-offset: -2px; */
}

.footer-number {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000000;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-decoration: none;
}

.footer-logo {
  align-self: center;
}

.button-footer-link{
  transition: transform 0.2s linear;
 }
 .button-footer-link:hover {
   transform: scale(1.5);
 }

.button-footer-link {
display: block;
padding: 5px;
margin: 15px;

}


.hotel-card-show-more {
  margin-bottom: 30px;
  display: flex;
  height: 120px;
  align-items: center;
  justify-content: center;
  border-top: 1px solid #E6E6E6;
  border-bottom: 2px solid #E6E6E6;
}
.button-show-more {
  border: 0;
  border-radius: 4px;
  background: var(--special-cold-light, #83B3D3);
  color: #F2F2F2;
  width: 620px;
  height: 60px;
  text-align: center;
  font-size: 20px;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
}

.pagination-container {
  margin: 0 auto;
  width: 1056px;
  height: 55px;
  display: flex;
}

.show-hotels {
  margin-left: auto;
}

.pagination {
  display: grid;
  gap: 8px;
  grid-template-columns: repeat(10, 55px);
}

.pagination li {
  list-style-type: none;
}

.pagination-item {
  border: 0;
  border-radius: 4px;
  min-height: 55px;
  min-width: 55px;

  background: var(--special-cold-light, #83B3D3);
  color: #F2F2F2;
  font-size: 20px;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
}

.show-hotels {
  width: 385px;
  display: flex;
  align-items: center;
  outline: 2px solid rgb(65, 211, 20);
  outline-offset: -2px;
}

.show-hotels p {
  outline: 2px solid rgb(211, 27, 20);
  outline-offset: -2px;
}

.pagination-show-type {
  margin-left: auto;
  width: 160px;
  height: 48px;
}